{% extends '::layout.html.twig' %}

{% block title %} Administration - {{ parent() }} {% endblock %}

{% block body %}


<h3>Administration</h3>
    {% block easypack_block %}


    {% endblock %}

{% endblock %}